fastapi
uvicorn
pytesseract
pdf2image
Pillow
numpy
opencv-python-headless
scipy
PyMuPDF
tensorflow
streamlit
streamlit-drawable-canvas
pymongo
PyPDF2
python-dotenv
google-cloud
google-cloud-vision
psycopg2-binary
boto3
openai
datetime